.card {
    width: 500px;
    height: fit-content;
    background-color: aliceblue;
    border-radius: 25px;
    border: solid 2px #1813be;
    margin: 20px;
}

.perfil-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 20px;
}

img {
    width: 100%;
    height: 100%;
}

.estilo-texto-padrao {
    font-family: Arial;
    padding: 20px;
}

h1 {
    font-size: 30px;
    margin: 0;
}

p {
    font-size: 15px;
}

span {
    color: #1813be;
}

.estilo-texto-padrao p span {
    font-style: italic;
}

#mensagem {
    font-size: 15px;
}